{% extends 'base.html.twig' %}

{% block title %}New ReturnBook{% endblock %}

{% block body %}
    <h1>Create new ReturnBook</h1>

    {{ include('return_book/_form.html.twig') }}

    <a href="{{ path('app_return_book_index') }}">back to list</a>
{% endblock %}
